@font-face {
  font-family: 'alternate-gothic-3d-regular';
  src: url(../fonts/Alternate\ Gothic\ No3\ D\ Regular.otf);
}

:root {
  --light-blue: #2fa9ff;
  --dark-blue: #252f3b;
  --dark-gray: #212529;
}
body {
  background-color: #252f3b;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#about, #projects {
  margin-top: 96px;
}
.a-section-title-home {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-size: 54px;
  font-weight: 500;
}

.a-subheader {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-size: 35px;
  font-weight: 500;
}
.a-section-title {

}
@media (min-width: 0px) {
  .a-headshot {
    height: 200px;
    border-radius: 100px;
  }
}
@media (min-width: 576px) {
  .a-headshot {
    height: 250px;
    border-radius: 125px;
  }
}
@media (min-width: 992px) {
  .a-headshot {
    height: 250px;
    border-radius: 125px;
  }
}
@media (min-width: 1200px) {
  .a-headshot {
    height: 300px;
    border-radius: 150px;
  }
}
@media (min-width: 1400px) {
  .a-headshot {
    height: 350px;
    border-radius: 175px;
  }
}
.a-content-title {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-weight: 300;
}
.a-learn-more {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 6px;
  color: white;
}
.a-project-preview-title-container {
  border: 1px solid white;
  padding: 10px;
}
.a-project-preview-body-container {
  border: 1px solid white;
  border-top: none;
  margin: 0 0 24px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.a-project-preview-body-container .carousel {
  flex: 1;
}

.a-project-preview-title {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-weight: 300;
  margin: 0
}

.view-project {
  
}

.a-project {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/parks-planner/parks3.png");
  background-size: cover;
}

.logo {
  height: 100px;
}

.css-logo {
  height: 117px;
  clip-path: inset(8px);
  margin: -8px -17px 0 0;
} 
.js-logo {
  height: 90px;
  margin: 15px 0 0 -17px;
} 

.react-logo {
  height: 105px;
  margin: 8px 0 0 -10px;
}

.express-logo {
  height: 90px;
}
.mongo-logo {
  height: 100px;
  margin: -18px 0 0 30px;
}
.sql-logo {
  height: 70px;
  margin: 0 0 0 30px;
}

.jquery-logo {
  height: 110px;
  margin: 10px 0 0 20px;
}

.node-logo {
  height: 100px;
  margin: 15px 0 0 15px;
}

.about-subheader {
  margin: 0 0 20px 0;
}

ul {
  padding: 0;
  margin: 0;
}

.a-subheader-container {

}

.logo-row-2 {
  margin: -120px 0 0 0;
}